.navbar {
  background: #38393a;
  color: #dce0e5;

}


.parallax-window {
  color: white;
  text-align: center;
  height: 100vh;
  padding-top: 7.5em;
  background: transparent;
  margin-bottom: 0;
}

.parallax-window hr {
  background: white;
}

.about {
  height: 100vh;
}
