/* ~~~~~~TAG~~~~~~ */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}


/* ~~~~~~HEADER~~~~~~ */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}

.header-bg{
  position: relative;
  width: 100%;
  height: 150%;
  background-image: url("../images/tobias-van-schneider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* ~~~~~~LANDING~~~~~~ */
.landing{
  position: absolute;
  color: white;
  left: 50%;
  top: 25%;
}

.landing h1 {
  font-size: 80px;
  margin-left: -187px;
}

.landing h3 {
  position: absolute;
  top: 200%;
  margin-left: -25px;
  animation: bouncer 2s linear infinite;
}

@keyframes bouncer {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 15px);
  }

  100% {
    transform: translate(0px, 0px);
  }

}

.landing p {
  margin-left: -150px;
  width: 300px;
}

#chevron  {
  color: white;
  position: fixed;
  transform-origin: top center;
  left: 50%;
  top: 90%;
  margin-left: -14px;
}


/* ~~~~~~ABOUT~~~~~~ */
.about {
  height: 100vh;
}

.about-line {
  background: black;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
}

.about-text {
  position: absolute;
  width: 300px;
  left: 10%;
  background: white;
}

.about-text p {
  margin-top: 0;
}

.about .second-about{
  color: orangered;
  position: relative;
  top: 50%;
  left: 60%;
  margin-top: -125px;
}

#first-about{
  position: relative;
  top: 50%;
}



/* ~~~~~~LOAD SCREEN~~~~~~ */
#loader {
  background-color: #333;
  height: 100vh;
  width: 100%;
  color: black;
  display: block;
  position: absolute;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -150px;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  animation: spinny 1.5s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }


  100% {
    transform: rotate(360deg);
  }
}

/* ~~~~~~RWD~~~~~~~ */
@media all and (max-width: 768px){

  .landing h1 {
    font-size: 60px;
    margin-left: -140px;
  }

  .about-text {
    position: absolute;
    width: 300px;
    left: 2%;
    margin-bottom: 2em;
  }

  .about .second-about {
    position: relative;
    margin-top: 2em;
    width: 300px;
    right: 2%;
  }

  #first-about {
    padding-top: 2.5em;
  }
}
